<header class='page-header'>
  <h1 class='h1'>Sign up</h1>
</header>

<div class='row'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form four columns offset by-four' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form__row">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <div class="form__row">
      <%= f.label :password, class: 'label' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="form__row">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="form__row">
      <%= f.submit "Sign up", class: 'button button--large' %>
    </div>
  <% end %>
</div>
<div class='row'>
  <div class='four columns offset by-four'>
  <%= render "devise/shared/links" %>
  </div>
</div>
