<h1 class='h1'>Transfer request for <%= @transfer.account.name %></h1>

<% if @is_responding && @transfer.pending? %>
  <section class='section'>
    <%= link_to 'Accept', accept_account_transfer_path(@transfer, response_token: @transfer.response_token), class: 'button' %>
    <%= link_to 'Reject', reject_account_transfer_path(@transfer, response_token: @transfer.response_token), class: 'button button--danger' %>
  </section>
<% end %>

<% if @transfer.original_owner == current_user && @transfer.pending? %>
  <section class='section'>
    <%= link_to 'Cancel transfer', @transfer, method: :delete, class: 'button' %>
  </section>
<% end %>

<% if @transfer.accepted? %>
  <p>This account transfer was accepted on <%= @transfer.accepted_at %>.</p>
<% end %>

<% if @transfer.rejected? %>
  <p>This account transfer was rejected.</p>
<% end %>

<%= link_to 'Back', :back %>
