<%= form_with(model: hit, local: true) do |form| %>
  <% if hit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hit.errors.count, "error") %> prohibited this hit from being saved:</h2>

      <ul>
      <% hit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hit_type %>
    <%= form.text_field :hit_type, id: :hit_hit_type %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :hit_location %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :hit_language %>
  </div>

  <div class="field">
    <%= form.label :encoding %>
    <%= form.text_field :encoding, id: :hit_encoding %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :hit_title %>
  </div>

  <div class="field">
    <%= form.label :color_depth %>
    <%= form.text_field :color_depth, id: :hit_color_depth %>
  </div>

  <div class="field">
    <%= form.label :screen_res %>
    <%= form.text_field :screen_res, id: :hit_screen_res %>
  </div>

  <div class="field">
    <%= form.label :viewport %>
    <%= form.text_field :viewport, id: :hit_viewport %>
  </div>

  <div class="field">
    <%= form.label :tracking_id %>
    <%= form.text_field :tracking_id, id: :hit_tracking_id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :hit_client_id %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.text_field :site_id, id: :hit_site_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
