<header class='page-header'>
  <h1 class='h1'>Sites</h1>
  <div class='page-header__actions'>
    <%= link_to 'New Site', new_site_path, class: 'button primary' %>
  </div>
</header>

<ul class='grid-list grid-list--3'>
  <% @sites.each do |site| %>
    <li class='grid-list__item'>
      <div class='site-tile'>
        <%= link_to site do %>
          <img class='site-tile__img' src='<%= site.screenshot_url %>' />
        <% end %>
        <div class='flex-view'>
          <div>
            <%= link_to site.name, site, class: 'site-tile__title' %>
            <%= link_to site.url, site, class: 'site-tile__subtitle' %>
          </div>
          <% if site.url? %>
            <%= link_to site.url, target: '_blank', class: 'flex-view__pull-right' do %>
              <%= image_tag 'external.png', size: 16 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
