<main class='layout__full'>
  <div class='landing-page'>
    <div class='landing-page__left'>
      <div class='landing-page__title-box'>
        <%= image_tag('logo.svg', class: 'landing-page__logo') %>
        <div class='landing-page__tagline'>Analytics made simple</div>
      </div>
    </div>
    <div class='landing-page__right'>
      <% if flash[:notice] %>
        <div class='landing-page__content-box'>
          <div class='landing-page__header'>
            <%= flash[:notice] %>
          </div>
          <div class='landing-page__actions'>
            <div class='landing-page__info'>
              Already have an account? <span class='t-link'>Log in</span>
            </div>
          </div>
        </div>
      <% else %>
        <%= form_for @signup, html: { class: 'landing-page__content-box' } do |f| %>
          <div class='landing-page__header'>
            Sign up to get notified when the beta is ready
          </div>
          <div class='landing-page__form'>
            <%= f.label :email, class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          </div>
          <div class='landing-page__actions'>
            <div class='_flex-center'>
              <%= f.submit "Sign Up", class: 'button button--large' %>
              <div class='landing-page__info'>
                Already have an account? <span class='t-link'>Log in</span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
