<main class='layout__full'>
  <div class='landing-page'>
    <div class='landing-page__left'>
      <div class='landing-page__title-box'>
        <%= image_tag('logo.svg', class: 'landing-page__logo') %>
        <div class='landing-page__tagline'>Analytics made simple</div>
      </div>
    </div>
    <div class='landing-page__right'>
      <% if flash[:thanks] %>
        <div class='landing-page__content-box _will-hide' id='signup-box'>
          <div class='landing-page__header'>
            <%= flash[:thanks] %>
          </div>
          <div class='landing-page__actions'>
            <div class='landing-page__info'>
              Already have an account? <span class='t-link' data-js-toggle='#signup-box,#login-box'>Log&nbsp;in</span>
            </div>
          </div>
        </div>
      <% else %>
        <%= form_for @signup, html: { class: 'landing-page__content-box _will-hide', id: 'signup-box' } do |f| %>
          <div class='landing-page__header'>
            Sign up to get notified when the beta is ready
          </div>
          <div class='landing-page__form-row'>
            <%= f.label :email, class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          </div>
          <div class='landing-page__actions'>
            <div class='_flex-center'>
              <%= f.submit "Sign up", class: 'button button--large' %>
              <div class='landing-page__info'>
                Already have an account? <span class='t-link' data-js-toggle='#signup-box,#login-box'>Log&nbsp;in</span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'landing-page__content-box _hidden', id: 'login-box' }) do |f| %>
        <div class='landing-page__header'>
          Log in
        </div>
        <div class='landing-page__form-row'>
          <%= f.label :email, class: 'label' %>
          <%= f.email_field :email, autocomplete: "email", class: 'input' %>
        </div>
        <div class='landing-page__form-row'>
          <%= f.label :password, class: 'label' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
        </div>
        <div class='landing-page__actions'>
          <div class='_flex-center'>
            <%= f.submit "Log in", class: 'button button--large' %>
            <div class='landing-page__info'>
              Don't have an account? <span class='t-link' data-js-toggle='#signup-box,#login-box'>Sign&nbsp;up</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
