<header class='page-header'>
  <hgroup>
    <h1 class='h1'><%= @site.name %></h1>
    <% if @site.url %>
    <h2 class='h2'><%= @site.url %></h2>
    <% end %>
  </hgroup>
  <div class='page-header__actions'>
    <%= link_to 'Edit Site', edit_site_path, class: 'page-header__action button' %>
  </div>
</header>

<canvas id='hitChart'></canvas>
<script>
  var ctx = document.getElementById('hitChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @hits[:by_day].map { |hit| hit.day.strftime("%m/%d") }.to_s %>,
      datasets: [{
        label: 'Hits',
        data: <%= @hits[:by_day].map { |hit| hit.num_hits }.to_s %>,
        backgroundColor: '#EDE100'
      }]
    }
  });
</script>


<h2 class='h2'>Tracking Code</h2>
<%= render "tracking_code" %>
