<!DOCTYPE html>
<html>
  <head>
    <title>zjm // Analytics</title>
    <%= csrf_meta_tags %>

    <link rel='shortcut icon' href='/icon.png' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>
  </head>

  <body class='layout'>
    <header class='header'>
      <div class='header__title'><a href='/'><%= image_tag('logo.svg', class: 'header__logo', height: 36) %></a></div>
      <nav class='site-nav'>
        <% if user_signed_in? %>
          <%= render partial: 'shared/account_menu' %>
          <%= render partial: 'shared/user_menu' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'site-nav__item site-nav__item--link' %>
          <%= link_to "Login", new_user_session_path, class: 'site-nav__item site-nav__item--link' %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class='flash-bar flash-bar--notice layout--container' id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class='flash-bar flash-bar--alert layout--container' id="alert"><%= alert %></p>
    <% end %>

    <main class='layout__main layout--container'>
    <%= yield %>
    </main>

    <footer class='footer'>
      <div class='layout--container'>
        <ul class='footer-list'>
          <li>Privacy Policy</li>
          <li>Terms of Service</li>
          <li>Feedback</li>
        </ul>
      </div>
    </footer>

  </body>
</html>
