<!DOCTYPE html>
<html>
  <head>
    <title>ZjmAnalytics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='title'>ZJM Analytics</div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to current_user.email, current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
