<div class='box-list__row _will-hide' id='account-row-<%= account.id %>'>
  <div class='box-list__row-title'><%= account.name %></div>
  <div class='box-list__row-actions'>
    <div class='box-list__tooltip t-muted' id='account-tooltip-<%= account.id %>'></div>
    <% if account != current_account %>
      <a href='<%= switch_account_path(account) %>' class='box-list__action' data-js-tooltip='#account-tooltip-<%= account.id %>:Switch to this account'>
        <img class='box-list__action-icon' src='<%= asset_path("entypo/switch.svg") %>' alt='Switch accounts' />
      </a>
    <% end %>
    <% if owned %>
      <div class='modal-container'>
        <div class='box-list__action' data-js-toggle="#invite-account-modal-<%= account.id %>" data-js-tooltip='#account-tooltip-<%= account.id %>:Invite user to account'>
          <img class='box-list__action-icon' src='<%= asset_path("entypo/user-add.svg") %>' alt='Switch accounts' />
        </div>

        <div class='modal _hidden' id="invite-account-modal-<%= account.id %>">
          <%= form_with model: account.account_invites.build do |form| %>
            <input type='hidden' name='account_invite[account_id]' value="<%= account.id %>" />
            <div class='row-form'>
              <%= form.email_field :invite_email, class: 'row-form__input', placeholder: 'fred@example.com' %>
              <!-- <input class='row-form__input' type='email' /> -->
              <div class='row-form__actions'>
                <%= form.submit 'Invite', class: 'button' %>
                <div class='modal__close' data-js-toggle='#invite-account-modal-<%= account.id %>'>
                  <img class='box-list__action-icon' src='<%= asset_path("entypo/cancel.svg") %>' />
                </div>
              </div>
            </div>
          <% end %>
          <div class='modal__arrow'></div>
        </div>

      </div>
      <div class='box-list__action' data-js-tooltip='#account-tooltip-<%= account.id %>:Edit account ' data-js-toggle='<%= row_toggle_selector account %>'>
        <img class='box-list__action-icon' src='<%= asset_path("entypo/pencil.svg") %>' alt='Switch accounts' />
      </div>
    <% else %>

    <% end %>
  </div>
</div>
<div class='box-list__row box-list__row--no-highlight _hidden'>
  <%= render :partial => 'row-form', locals: {account: account, owner: account.owner} %>
</div>
