<%= form_with(model: account,
      url: account.new_record? ? user_accounts_path(owner) : user_account_path(owner, account),
      local: true,
      html: { class: 'form' }) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__row">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="form__row">
    <%= form.submit class: 'button' %>
  </div>
<% end %>
